@charset "UTF-8";
.navbar {
  padding: 0 7rem !important;
  width: 100%;
  height: 7rem;
  position: relative;
  background: rgba(57, 62, 70, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(1rem);
  position: fixed !important;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .navbar {
    padding: 0 5rem !important;
  }
}
@media (max-width: 550px) {
  .navbar {
    padding: 0 3rem !important;
  }
}
.navbar-logo-link, .footer-logo-img {
  height: 60px;
  padding: 0;
}

.menu-list {
  list-style: none;
  margin-bottom: 0;
  display: flex;
}
@media (max-width: 770px) {
  .menu-list {
    display: none;
  }
}
.menu-list-item {
  padding-left: 4rem;
}
.menu-list-item-link, .previous-link {
  text-decoration: none;
  color: #EEEEEE;
  font-family: "Handlee", cursive;
  font-size: 2.5rem;
  transition: color 0.2s;
  display: inline-block;
  position: relative;
  transition: all 0.2s;
}
.menu-list-item-link:hover, .previous-link:hover {
  color: #EEEEEE;
}

.menu-list-item-link:after, .previous-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #00ADB5;
  transform-origin: bottom center;
  transition: transform 0.2s ease-in-out;
}

.menu-list-item-link:hover:after, .previous-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

/* Burger menu animation */
#burgerMenu {
  display: none;
  cursor: pointer;
}
@media (max-width: 770px) {
  #burgerMenu {
    display: block;
  }
}

#burgerMenu > span {
  display: block;
  width: 3rem;
  height: 0.2rem;
  border-radius: 9999px;
  background-color: #EEEEEE;
}

#burgerMenu > span:not(:last-child) {
  margin-bottom: 7px;
}

#burgerMenu,
#burgerMenu > span {
  transition: all 0.3s ease-in-out;
}

#burgerMenu.active {
  transition-delay: 0.3s;
  transform: rotate(45deg);
}

#burgerMenu.active > span:nth-child(2) {
  width: 0;
}

#burgerMenu.active > span:nth-child(1),
#burgerMenu.active > span:nth-child(3) {
  transition-delay: 0.4s;
}

#burgerMenu.active > span:nth-child(1) {
  transform: translateY(9px);
}

#burgerMenu.active > span:nth-child(3) {
  transform: translateY(-9px) rotate(90deg);
}

/* End of burger menu animation */
.progress-container {
  height: 3px;
  width: 100%;
  background-color: #181818;
  position: absolute;
  bottom: 0;
  left: 0;
}

.progress-bar {
  height: 3px;
  width: 0%;
  background-color: #00ADB5 !important;
}

.header {
  height: 100vh;
  background: linear-gradient(315deg, rgba(24, 24, 24, 0.8) 0%, rgba(57, 62, 70, 0.5) 100%), url(../img/header-bg.jpg) center no-repeat;
  background-size: cover;
  color: #EEEEEE;
  position: relative;
}
.header-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  padding: 0 7rem 7rem;
  /* &-title {

  } */
}
@media (max-width: 980px) {
  .header-text {
    padding: 0 5rem 5rem;
  }
}
@media (max-width: 550px) {
  .header-text {
    padding: 0 3rem 3rem;
  }
}
.header-text-name {
  text-align: right;
  font-size: 11rem;
  font-family: "Baskervville", serif;
  letter-spacing: 0.8rem;
  color: transparent;
  text-transform: uppercase;
  position: relative;
  user-select: none;
}
.header-text-name:hover span:nth-child(1) {
  transform: translateY(-1rem);
}
.header-text-name span:nth-child(1), .header-text-name span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: #EEEEEE;
  transition: 0.5s;
  overflow: hidden;
}
.header-text-name span:nth-child(1) {
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
}
.header-text-name span:nth-child(2) {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}
.header-text-name span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Handlee", cursive;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 350ms ease;
  font-size: 2.5rem;
  color: #fff;
  background: #00ADB5;
  width: 97.5%;
  padding-left: 5px;
  text-align: center;
  letter-spacing: 0.5rem;
  word-spacing: 1rem;
  padding-top: 0.3rem;
  line-height: 120%;
}
@media (max-width: 770px) {
  .header-text-name span:nth-child(3) {
    font-size: 2rem;
  }
}
@media (max-width: 550px) {
  .header-text-name span:nth-child(3) {
    font-size: 1.2rem;
  }
}
@media (max-width: 770px) {
  .header-text-name {
    font-size: 9rem;
    letter-spacing: 0.3rem;
    margin-top: -1.5rem;
  }
}
@media (max-width: 640px) {
  .header-text-name {
    font-size: 8rem;
    letter-spacing: 0.3rem;
    margin-top: -1.5rem;
  }
}
@media (max-width: 550px) {
  .header-text-name {
    font-size: 5rem;
  }
}

.main-links {
  list-style-type: none;
  display: flex;
}
@media (max-width: 550px) {
  .main-links {
    right: 3rem;
  }
}
.main-links-item-link {
  font-size: 3rem;
  margin-left: 10rem;
  color: #EEEEEE;
  transition: all 0.3s;
}
@media (max-width: 640px) {
  .main-links-item-link {
    margin-left: 8rem;
  }
}
@media (max-width: 550px) {
  .main-links-item-link {
    margin-left: 4rem;
  }
}
.main-links-item-link:hover {
  color: #00ADB5;
  /* text-shadow: .2rem .2rem color(pink); */
}

/* Mobile Menu */
.burger-menu-mobile {
  display: none;
  position: absolute;
  top: 7rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.95);
  position: fixed;
  z-index: 10;
}

.mobile-list {
  list-style: none;
  margin-top: 5rem;
}
.mobile-list-item {
  text-align: center;
}
.mobile-list-item-link {
  text-decoration: none;
  color: #EEEEEE;
  font-family: "Handlee", cursive;
  font-size: 4rem;
  line-height: 2;
  transition: all 0.2s;
}
.mobile-list-item-link:active {
  color: #00ADB5;
}

/* HOVER NAME EFFECT */
.header-text:hover span:nth-child(1) {
  transform: translateY(-1rem);
}

.header-text:hover span:nth-child(2) {
  transform: translateY(1rem);
}

.header-text:hover span:nth-child(3) {
  transition: opacity 0.7s ease;
  opacity: 1;
}

/* ANIMATION */
@media (max-width: 980px) {
  .header-text-name span:nth-child(1) {
    animation: topPart 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  @keyframes topPart {
    from {
      transform: none;
    }
    to {
      transform: translateY(-1rem);
    }
  }
}

@media (max-width: 980px) {
  .header-text-name span:nth-child(2) {
    animation: bottomPart 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  @keyframes bottomPart {
    from {
      transform: none;
    }
    to {
      transform: translateY(1rem);
    }
  }
}

@media (max-width: 980px) {
  .header-text-name span:nth-child(3) {
    animation: textAppear 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  @keyframes textAppear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, min-content);
  align-items: flex-start;
  padding: 12rem 7rem 0;
  color: #EEEEEE;
}
@media (max-width: 980px) {
  .about {
    padding: 8rem 5rem 0;
  }
}
@media (max-width: 550px) {
  .about {
    padding: 5rem 3rem 0;
  }
}
.about-photo {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-right: 5rem;
}
@media (max-width: 550px) {
  .about-photo {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: center;
    margin-right: 0;
  }
}
.about-photo-img {
  width: 40rem;
  height: 50rem;
  object-fit: cover;
  filter: grayscale(50%);
  transition: all 0.5s;
}
.about-photo-img:hover {
  filter: none;
}
@media (max-width: 1100px) {
  .about-photo-img {
    width: 30rem;
  }
}
@media (max-width: 980px) {
  .about-photo-img {
    width: 25rem;
    height: 30rem;
    grid-row: 1/2;
  }
}
@media (max-width: 770px) {
  .about-photo-img {
    width: 20rem;
  }
}
@media (max-width: 550px) {
  .about-photo-img {
    width: 100%;
  }
}
.about-text {
  max-width: 100rem;
  grid-column: 2/-1;
}
@media (max-width: 550px) {
  .about-text {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 2/3;
    margin: 3rem 0;
  }
}

.text-title, .contact-left-title, .projects-title, .exp-left-title {
  font-family: "Handlee", cursive;
  font-size: 5rem;
  margin-bottom: 2rem;
}
@media (max-width: 980px) {
  .text-title, .contact-left-title, .projects-title, .exp-left-title {
    font-size: 4rem;
  }
}

.text-description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: justify;
  margin: 0 0 10px;
}
@media (max-width: 770px) {
  .text-description {
    font-size: 1.4rem;
  }
}

.text-undertitle, .skills-title {
  font-family: "Handlee", cursive;
  font-size: 3rem;
}
@media (max-width: 980px) {
  .text-undertitle, .skills-title {
    font-size: 2.5rem;
  }
}

.goals {
  grid-column: 2/-1;
}
@media (max-width: 980px) {
  .goals {
    grid-row: 3/4;
    grid-column: 1/-1;
    margin-top: 2rem;
  }
}

.about-text-description::first-letter {
  margin-left: 2rem;
}

.about-goals-item {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  margin: 0 1rem 1rem;
  list-style: none;
}

.about-goals-item::before {
  content: "—";
  margin-right: 1rem;
}

/* Glowing button */
.button, .contact-button {
  font-family: "Handlee", cursive;
  font-size: 1.6rem;
  width: 20rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  display: block;
  margin-top: 5rem;
  text-decoration: none;
  color: #EEEEEE;
  text-align: center;
  background: transparent;
  position: relative;
  border: 1px solid #EEEEEE;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.3s;
}
@media (max-width: 640px) {
  .button, .contact-button {
    width: 16rem;
  }
}
@media (max-width: 550px) {
  .button, .contact-button {
    width: 13rem;
    font-size: 1.4rem;
  }
}
.button::after, .contact-button::after {
  position: absolute;
  content: "";
  top: center;
  left: 0;
  right: 0;
  z-index: -1;
  height: 50%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  filter: blur(10px);
  background: linear-gradient(to left, #31f48e, #07aa7b, #0bbeff, #0086ff, #01437d, #0086ff, #0bbeff, #07aa7b, #31f48e);
  background-size: 200% 200%;
  animation: animateGlow 2.25s linear infinite;
}
.button:hover, .contact-button:hover {
  background-color: rgba(238, 238, 238, 0.2);
  color: #EEEEEE;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
/* End of glowing button */
.experience {
  color: #EEEEEE;
  padding: 12rem 7rem;
  margin-top: 4rem;
  position: relative;
  background-color: rgba(57, 62, 70, 0.3);
}
@media (max-width: 1100px) {
  .experience {
    padding: 5rem 3rem 10rem;
  }
}
@media (max-width: 640px) {
  .experience {
    padding-top: 10rem;
  }
}

/* SECTION DIVIDER */
.custom-shape-divider-top-1669579363 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1669579363 svg {
  position: relative;
  display: block;
  width: calc(123% + 1.3px);
  height: 107px;
}

.custom-shape-divider-top-1669579363 .shape-fill {
  fill: #181818;
}

.custom-shape-divider-bottom-1669580180 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669580180 svg {
  position: relative;
  display: block;
  width: calc(184% + 1.3px);
  height: 73px;
}

.custom-shape-divider-bottom-1669580180 .shape-fill {
  fill: #181818;
}

/* EXPERIENCE */
.exp {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 550px) {
  .exp {
    flex-direction: column;
  }
}
.exp-left {
  width: 50%;
}
@media (max-width: 550px) {
  .exp-left {
    width: 100%;
  }
}
.exp-right {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 980px) {
  .exp-right {
    padding-top: 5rem;
  }
}
@media (max-width: 550px) {
  .exp-right {
    width: 100%;
  }
}

.cv {
  position: relative;
  overflow: hidden;
}
.cv:hover .cv-btns {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 980px) {
  .cv:active .cv-btns {
    opacity: 1;
    visibility: visible;
  }
}
.cv:hover .cv-bgPhoto {
  transform: scale(1.3);
  filter: blur(0.2rem);
  transform-origin: top;
}
.cv-bgPhoto {
  width: 100%;
  height: 25rem;
  object-fit: contain;
  transition: all 0.5s;
}
@media (max-width: 550px) {
  .cv-bgPhoto {
    filter: blur(0.2rem);
  }
}
.cv-btns {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cv-button {
  color: #067593;
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  font-family: "Handlee", cursive;
  border: 0.1rem solid #067593;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  background-color: rgba(2, 39, 49, 0.1);
  transition: all 0.2s;
}
@media (max-width: 770px) {
  .cv-button {
    display: block;
    margin: 2rem;
    text-align: center;
  }
}
.cv-button:hover {
  background-color: #022731;
  color: #EEEEEE;
}

.tooltip {
  position: relative;
  text-decoration: none;
  color: #EEEEEE;
  font-family: "Handlee", cursive;
  font-size: 2rem;
  transition: all 0.3s;
  text-shadow: 0.1rem 0.1rem #00ADB5;
}
.tooltip:hover {
  color: #00ADB5;
}
.tooltip-text {
  visibility: hidden;
  width: 12rem;
  background-color: #EEEEEE;
  color: #393E46;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  position: absolute;
  left: 0;
  top: 2.5rem;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* SKILLS */
.skills {
  width: 80%;
  margin: 10rem auto 0;
}
@media (max-width: 550px) {
  .skills {
    flex-direction: column;
  }
}
.skills-title {
  margin-top: 4rem;
}

.skill-item-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 2rem 0 0.5rem;
}

.skill-container {
  width: 100%;
  background-color: #393E46;
  border-radius: 0.5rem;
}

/* Modal CV img */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
  margin: auto;
  display: block;
  height: 100vh;
  max-width: 80%;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.8) !important;
  /* animation */
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.5s;
  animation-name: zoom;
  animation-duration: 0.5s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  top: 1.5rem;
  right: 3.5rem;
  color: #EEEEEE;
  font-size: 4rem;
  transition: all 0.2s;
}
.close:hover {
  color: #00ADB5;
  cursor: pointer;
}

.progress-bar-lightgreen {
  background-color: #07aa7b !important;
}

.progress-bar-blue {
  background-color: #01437d !important;
}

.projects {
  max-width: 186rem;
  padding: 12rem 7rem 0;
}
@media (max-width: 980px) {
  .projects {
    padding: 8rem 5rem 0;
  }
}
@media (max-width: 550px) {
  .projects {
    padding: 5rem 3rem 0;
  }
}
.projects-title {
  color: #EEEEEE;
}

.project-wrapper {
  margin: 3rem auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 550px) {
  .project-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}

.project {
  position: relative;
  width: 100%;
  height: 20rem;
}
.project:hover .project-photo {
  filter: blur(0);
}
.project:hover .project-btns, .project:hover .cv-btns {
  opacity: 1;
  visibility: visible;
}
.project-photo {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  filter: blur(0.3rem);
  transition: all 0.2s;
}
@media (max-width: 550px) {
  .project-photo {
    filter: blur(0);
  }
}
.project-btns, .cv-btns {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
@media (max-width: 770px) {
  .project-btns, .cv-btns {
    display: block;
  }
}
@media (max-width: 550px) {
  .project-btns, .cv-btns {
    visibility: visible;
    opacity: 1;
  }
}

.project-btn {
  text-align: center;
  min-width: 12rem;
  margin: 1rem;
}
@media (max-width: 980px) {
  .project-btn {
    min-width: 10rem;
    margin: 0;
  }
}
.project-btn-link {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #EEEEEE;
  width: 10rem;
  height: 5rem;
  font-size: 1.5rem;
  margin: 0 1rem;
  position: relative;
}
@media (max-width: 980px) {
  .project-btn-link {
    font-size: 1.3rem;
    margin: 0;
  }
}
@media (max-width: 770px) {
  .project-btn-link {
    line-height: 5;
  }
}

.project-btn-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.15rem;
  margin: -0.3rem 0;
  left: 0;
  bottom: 0;
  background-color: #EEEEEE;
  transform-origin: bottom center;
  transition: transform 0.2s ease-in-out;
}

.project-btn-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.previous-link:hover .previous-arrow {
  visibility: visible;
  opacity: 1;
  padding-right: 1rem;
}

.previous-arrow {
  color: #EEEEEE;
  font-size: 2rem;
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 770px) {
  .previous-arrow {
    visibility: visible;
    opacity: 1;
    padding-right: 1rem;
  }
}

/* Header */
.projects-header {
  height: 100vh;
  background-color: #393E46;
}

.contact {
  padding: 12rem 7rem 0;
  color: #EEEEEE;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media (max-width: 980px) {
  .contact {
    padding: 8rem 5rem 0;
  }
}
@media (max-width: 550px) {
  .contact {
    grid-template-columns: 1fr;
    padding: 5rem 3rem;
  }
}
.contact-left {
  padding-right: 5rem;
}
@media (max-width: 550px) {
  .contact-left {
    padding-right: 0;
  }
}
@media (max-width: 550px) {
  .contact-left-title {
    text-align: center;
  }
}
.contact-right {
  padding-left: 5rem;
}
@media (max-width: 550px) {
  .contact-right {
    padding-left: 0;
  }
}

.envelope {
  transform: rotate(-20deg);
}

.contact-envelope {
  position: relative;
  width: 20rem;
  height: 10rem;
  margin-top: 8rem;
}
@media (max-width: 640px) {
  .contact-envelope {
    margin: 0 auto;
  }
}

.contact-envelope-container {
  position: absolute;
  top: -5rem;
  right: -6rem;
}
@media (max-width: 640px) {
  .contact-envelope-container {
    position: absolute;
    top: -5rem;
    right: -2rem;
  }
}
@media (max-width: 550px) {
  .contact-envelope-container {
    position: absolute;
    top: -5rem;
    right: 2rem;
  }
}

.some-wrapper {
  display: grid;
  grid-template-columns: 2 1fr;
  grid-template-rows: 2 1fr;
  grid-gap: 3rem;
  justify-content: space-evenly;
  align-items: center;
}

.ln-container {
  grid-column: 1/2;
  grid-row: 1/2;
}

.fb-container {
  grid-column: 2/3;
  grid-row: 1/2;
}

.some-container {
  position: relative;
  width: 8rem;
  height: 8rem;
}
.some-container-img {
  width: 100%;
  height: 100%;
  filter: blur(0.2rem);
  border-radius: 2rem;
}
.some-container-name {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #067593;
  transition: all 0.3s;
}
.some-container:hover .some-container-name {
  visibility: hidden;
  opacity: 0;
}
.some-container:hover .some-container-img {
  filter: blur(0);
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #393E46;
  color: #EEEEEE;
  font-family: "Handlee", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem;
}
@media (max-width: 550px) {
  .footer {
    padding: 0.7rem 3rem;
  }
}
.footer-right {
  text-align: center;
  font-size: 1.8rem;
}
.footer-right-text {
  margin: 0;
}

#preloader {
  background-color: #000;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem;
  background: #FFE0E8;
  border-radius: 50%;
  animation: loading 1s infinite alternate;
}

.loading span:nth-of-type(2) {
  background: #00ADB5;
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  background: #FF5770;
  animation-delay: 0.4s;
}

.loading span:nth-of-type(4) {
  background: #E3428C;
  animation-delay: 0.6s;
}

.loading span:nth-of-type(5) {
  background: #C32DA7;
  animation-delay: 0.8s;
}

.loading span:nth-of-type(6) {
  background: #022731;
  animation-delay: 1s;
}

.loading span:nth-of-type(7) {
  background: #6502DE;
  animation-delay: 1.2s;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: #181818 !important;
  position: relative;
}

/*# sourceMappingURL=main.css.map */
