$font-openSans: 'Open Sans', sans-serif;;
$font-handlee: 'Handlee', cursive;
$font-baskerville: 'Baskervville', serif;



$colors: (
    primary: #181818,
    secondary: #393E46,
    pink: #00ADB5,
    darkpink: #022731,
    white: #EEEEEE
); 
@function color($color-name){
    @return map-get($colors, $color-name)
}

$font-sizes: (
    xl: 3rem,
    lg: 2.5rem,
    md: 2rem,
    sm: 1.8rem,
    xs: 1.6rem
);
@function size($size){
    @return map-get($font-sizes, $size)
};

@mixin response($breakpoint){
    @if($breakpoint == xl){
        @media(max-width: 1100px){
            @content;
        }
    }
    @if($breakpoint == lg){
        @media(max-width: 980px){
            @content
        }
    }
    @if($breakpoint == md){
        @media(max-width: 770px){
            @content
        }
    }
    @if($breakpoint == sm){
        @media(max-width: 640px){
            @content
        }
    }
    @if($breakpoint == xs){
        @media(max-width: 550px){
            @content
        }
    }
}