.experience {
    color: color(white);
    padding: 12rem 7rem;
    margin-top: 4rem;
    position: relative;
    background-color: rgba(color(secondary), .3);
    @include response(xl) {
        padding: 5rem 3rem 10rem;
    }
    @include response(sm) {
        padding-top: 10rem;
    }
  
}
/* SECTION DIVIDER */
//TOP
.custom-shape-divider-top-1669579363 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1669579363 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 107px;
}
.custom-shape-divider-top-1669579363 .shape-fill {
    fill: color(primary);
}
//BOTTOM
.custom-shape-divider-bottom-1669580180 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1669580180 svg {
    position: relative;
    display: block;
    width: calc(184% + 1.3px);
    height: 73px;
}
.custom-shape-divider-bottom-1669580180 .shape-fill {
    fill: #181818;
}
/* EXPERIENCE */
.exp{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include response(xs){
        flex-direction: column;
    }

    &-left{
        width: 50%;
        @include response(xs) {
            width: 100%;
        }

        &-title{
            @extend .text-title;
        }
    }
    &-right{
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        @include response(lg) {
            padding-top: 5rem; 
        }
        @include response(xs) {
            width: 100%;
        }
    }
}

.cv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-bgPhoto{
        width: 30rem;
        height: 30rem;
        object-fit:cover;

        &:hover{
           
        }
        @include response(xs){
            filter: blur(.2rem)
        }
    }
    &-btns{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        .cv-btn{
            margin: 0 1rem;
        }
    }

    &-button{
        color: lighten(color(darkpink), 20%);
        text-decoration: none;
        font-size: size(sm);
        letter-spacing: .5rem;
        font-family: $font-handlee;
        border: .1rem solid lighten(color(darkpink), 20%);
        border-radius: .2rem;
        padding: .5rem 2rem;
        background-color: rgba(color(darkpink), .1);
        transition: all .2s;
        @include response(md) {
            display: block;
            margin: 2rem;
            text-align: center;
        }

        &:hover{
            background-color:color(darkpink);
            color: color(white);
        }
    }

}

.project-link {
    text-decoration: none;
    color: color(white);
    font-family: $font-handlee;
    font-size: size(md);
    transition: all .3s;
    text-shadow: .1rem .1rem color(pink);
    
    &:hover {
        color: color(pink);
    }
}
.tooltip:hover .tooltip-text {
    visibility: visible;
}
/* SKILLS */
.skills{
    width: 80%;
    margin: 10rem auto 0;
        @include response(xs){
            flex-direction: column;
        }

    &-title{
        @extend .text-undertitle;
        margin-top: 4rem;
    }
}

.skill-item{

    &-name{
        font-family: $font-openSans;
        font-weight: 300;
        font-size: size(sm);
        margin: 2rem 0 .5rem;
    }
}
.skill-container {
    width: 100%;
    background-color: color(secondary);
    border-radius: .5rem;
}

/* Modal CV img */
.modal{
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000 ;
    background-color: rgba(#000, .8);
        &-content{
            margin: auto;
            display: block;
            height: 100vh;
            max-width: 80%;
            object-fit:contain;
            background-color: rgba(#000, .8) !important;

            /* animation */
            -webkit-animation-name: zoom;
            -webkit-animation-duration: .5s;
            animation-name: zoom;
            animation-duration: .5s;
        }
}
@keyframes zoom{
    from{transform: scale(0)}
    to{transform: scale(1);}
}
.close{
    position: absolute;
    top: 1.5rem;
    right: 3.5rem;
    color: color(white);
    font-size: size(xl) + 1;
    transition: all .2s;
    z-index: 5;

    &:hover{
        color: color(pink);
        cursor: pointer;
    }
}

.progress-bar-lightgreen{
    background-color: #07aa7b !important;
}
.progress-bar-blue{
    background-color: #01437d !important;
}