.footer{
    width: 100%;
    height: 70px;
    background-color: color(secondary);
    color: color(white);
    font-family: $font-handlee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem;
    @include response(xs){
        padding: .7rem 3rem;
    }

        &-logo-img{
            @extend .navbar-logo-link;
        }
       
        &-right{ 
            text-align: center;
            font-size: size(sm);
            &-text{
                margin: 0;
            }
        }
}