
.projects{
    max-width: 186rem;
    height: 100vh;
    padding: 12rem 7rem 0;
    margin: 0 auto;
        @include response(lg) {
            padding: 8rem 5rem 0;
        }
        @include response(xs) {
            padding: 5rem 3rem 0;
        }

    &-title{
        @extend .text-title;
        color: color(white);
        text-align: center;
        margin-bottom: 5rem;
        @include response(xs) {
            margin-top: 3rem;
        }
    }
}

.project{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: size(sm);
    font-family: $font-openSans;
    color: #fff;
    background-color: rgba(color(darkpink), .97);
    @include response(md){
        flex-direction: column;
    }
    
    
    &-photo{
        width: 60%;
        height: 80%;
        object-fit:contain;
        margin-left: 3rem;
            @include response(lg) {
                width: 50%;
                margin-top: -6rem;
            }
            @include response(md) {
                flex-direction: column;
                width: 80%;
                margin: 2rem 0 0;
            }
            @include response(xs){
                padding: 0;
                height: auto;
            }
        }
    &-content{
        width: 40%;
        height: 30rem;
        margin: 3rem;
        display: flex;
        flex-direction: column;
        @include response(lg) {
                width: 50%;
            }
        @include response(md) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            height: min-content;
        }
        @include response(xs) {
            height: inherit;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            /* flex-direction: column;
            align-items: center;
            justify-content: space-between; */
        }
        .project-text-wrapper{
            @include response(md){
                width: 60%;
                height: 12rem;
            }
            @include response(xs){
                width: 100%;
                text-align: center;
            }
        }

        .project-text{
            width: 90%;
            font-weight: light;
            margin: 1rem 0 8rem
        }
        .project-title{
            font-size: size(lg);
            font-weight: bold;
            width: 90%;
        }
    }
    &-btns{
        display: flex;
        justify-content: flex-start;
        transition: all .2s;
        font-weight: bold;
        @include response(lg){
            margin-top: -3rem;
        }
        @include response(md){
            margin: 0;
            width: 40%;
        }
        @include response(xs){
            justify-content: center;
            align-items: flex-start;
            margin: 0;
            width: 100%;
        }
    }
}

.project-btn{
    text-align: center;
    margin-right: 3rem;
    @include response(md) {
        margin: 0 0 0 3rem;
    }
    @include response(xs) {
        margin: 1rem;
    }
    
    &-link{
        font-family: $font-openSans;
        text-decoration: none;
        text-transform: uppercase;
        color: color(white);
        font-size: size(xs) - .1;
        position: relative;
        cursor: pointer;
        &:hover{
            color: color(pink);
        }
        @include response(lg) {
            font-size: size(xs) - .3;
        }
       

    }
}

 .project-btn-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .15rem;
    margin: -.3rem 0;
    left: 0;
    bottom: 0;
    background-color: color(pink);
    transform-origin: bottom center;
    transition: transform .2s ease-in-out;
}

.project-btn-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center
}


.previous-link:hover .previous-arrow{
    visibility: visible;
    opacity: 1;
    padding-right: 1rem;
}
.previous-arrow{
    color: color(white);
    font-size: size(md);
    transition: all .4s;
    visibility: hidden;
    opacity: 0;
    @include response(md){
        visibility: visible;
        opacity: 1;
        padding-right: 1rem;
    }
}
.previous-link{
   @extend .menu-list-item-link;
}
/* SWIPER STYLE */
.swiper {
    margin: 0 auto;
    width: 90%;
    height: 60vh;
    @include response(xs){
        height: fit-content;
    }
}
.swiper-pagination-progressbar.swiper-pagination-horizontal {
    bottom: 0 !important;
}
.swiper-pagination-bullet  {
    background-color: color(pink) !important;
}

/* disabled links */
a.disabled{
    pointer-events: none;
    cursor: default;
}