.contact{
    padding: 12rem 7rem 0;
    color: color(white);
    display: grid;
    grid-template-columns: 50% 50%;

        @include response(lg) {
            padding: 8rem 5rem 0;
        }
        @include response(xs) {
            grid-template-columns: 1fr;
            padding: 5rem 3rem;
        }

    &-left{
        padding-right: 5rem;
        @include response(xs) {
            padding-right: 0;
        }
        &-title{
            @extend .text-title;
            @include response(xs) {
                text-align: center;
            }
        }
    }
    &-right{
        padding-left: 5rem;
        @include response(xs) {
            padding-left: 0;
        }
    }
    }
    .envelope{
        transform: rotate(-20deg);
    }
  .contact-envelope{
      position: relative;
      width: 20rem;
      height: 10rem;
      margin-top: 8rem;
      @include response(sm) {
        margin: 0 auto;
      }
  }
    .contact-button{
        @extend .button;
    }
    .contact-envelope-container{
        position: absolute;
        top: -5rem;
        right: -6rem;
        @include response(sm){
            position: absolute;
            top: -5rem;
            right: -2rem
        }
        @include response(xs){
            position: absolute;
            top: -5rem;
            right: 2rem
        }
    }
    .some-wrapper{
        display: grid;
        grid-template-columns: 2 1fr;
        grid-template-rows: 2 1fr;
        grid-gap: 3rem;
        justify-content: space-evenly;
        align-items: center;
    }
    .ln-container{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .fb-container{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .some-container{
        position: relative;
        width: 8rem;
        height: 8rem;
        
        &-img{
            width: 100%;
            height: 100%;
            filter: blur(.2rem);
            border-radius: 2rem;
            }
        &-name{
            font-size: size(xl) + 2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: lighten(color(darkpink), 20%);
            transition: all .3s;
        }
        &:hover .some-container-name{
          visibility: hidden;
          opacity: 0;
        }
        &:hover .some-container-img{
            filter: blur(0);
        }
    }
